{% extends "base.html" %}

{% block title %}K-Realtime Dynamic View{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <!-- user form -->
    <form class="form-inline" id="form-logs">
      <div class="form-group">
        <label class="sr-only" for="form-logs-site">Site</label>
        <select class="form-control" id="form-logs-site" name="site">
          <option value="np">North Point</option>
          <option selected value="insead">Insead</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="form-logs-start">Start Date</label>
        <input type="text" class="form-control datepicker" id="form-logs-start" name="start" placeholder="Start 2017-12-30">
      </div>

      <div class="form-group">
        <label class="sr-only" for="form-logs-end">End Date</label>
        <input type="text" class="form-control datepicker" id="form-logs-end" name="end" placeholder="End 2017-12-31">
      </div>

      <div class="form-group">
        <label class="sr-only" for="form-logs-freq">Frequency</label>
        <select class="form-control" id="form-logs-freq" name="freq">
          <option value="years">Years</option>
          <option value="days">Days</option>
          <option value="months">Months</option>
          <option selected value="hours">Hours</option>
          <option value="minutes">Minutes</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="form-logs-field">Parameter</label>
        <select class="form-control" id="form-logs-field" name="fields">
          <option value="cwshdr">Condenser Water Supply Temp (CWSHDR)</option>
          <option value="loadsys">System Efficiency (LoadSys)</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" id="form-logs-submit">Refresh</button>
    </form>

    <!-- plot -->
    <div id="plot-logs"></div>
    <div id="plot-logs-rate"></div>

  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(".datepicker").datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
      todayHighlight: true,
  });

  var form = $("#form-logs"); // form
  var plotElementId = "plot-logs";
  var plotElementId2 = "plot-logs-rate";

  // update form values on loading..
  var defaultEnd = new Date();
  var defaultStart = new Date(defaultEnd.getFullYear(), defaultEnd.getMonth(), defaultEnd.getDate()-2)
  form.find("input[name=end]").datepicker("update", defaultEnd);
  form.find("input[name=start]").datepicker("update", defaultStart);

  // form submit event binder.
  // TODO: This entire thing can be done very neatly.. 
  form.submit(function(event) {
    event.preventDefault();
    var submitBtn = form.find("button[type=submit]");
    submitBtn.html("Loading");
    submitBtn.prop("disabled", true);

    var site = form.find("select[name=site]").val();
    
    var query1 = {
      start: form.find("input[name=start]").val(),
      end: form.find("input[name=end]").val(),
      freq: form.find("select[name=freq]").val(),
      fields: form.find("select[name=fields]").val()
    };

    var query2 = {
      start: form.find("input[name=start]").val(),
      end: form.find("input[name=end]").val(),
      freq: form.find("select[name=freq]").val(),
      field: form.find("select[name=fields]").val() // key is the only change!
    };


    var req1 = $.get("/api/v1/logs/" + site, query1);
    var req2 = $.get("/api/v1/abnormalities/" + site, query2);

    $.when(req1, req2)
    .done(function(arr1, arr2) {
      var timeseries = arr1[0].results;
      var abnormalities = arr2[0].results;
      var field = query1.fields;

      var layout = {
        xaxis: {title: "Time", showgrid: false},
        yaxis: {title: field, showgrid: false},
        hovermode: "closest",
      };

      var trace1 = {
        name: query1.fields,
        type: "scatter",
        mode: "lines+markers",
        line: {width: 1},
        marker: {color: "black"},
        x: timeseries.map(function(i) { return new Date(i._id); }),
        y: timeseries.map(function(i) { return i[field]; }),
      };

      var trace2 = {
        name: "Abnormalities",
        type: "scatter",
        mode: "markers",
        marker: {color: "orange"},
        x: abnormalities.map(function(i) { return new Date(i._id); }),
        y: abnormalities.map(function(i, idx) { return i.abnormal ? timeseries[idx][field] : null }),
      };

      var trace3 = {
        name: "Rate (min threshold)",
        type: "scatter",
        mode: "lines+markers",
        marker: {color: "pink"},
        x: abnormalities.map(function(i) { return new Date(i._id); }),
        y: abnormalities.map(function(i, idx) { return i.min_value }),
      };

      var trace4 = {
        name: "Rate (Max threshold)",
        type: "scatter",
        mode: "lines+markers",
        marker: {color: "pink"},
        x: abnormalities.map(function(i) { return new Date(i._id); }),
        y: abnormalities.map(function(i, idx) { return i.max_value }),
      };

      var trace5 = {
        name: "Rate",
        type: "scatter",
        mode: "lines+markers",
        marker: {color: "red"},
        x: abnormalities.map(function(i) { return new Date(i._id); }),
        y: abnormalities.map(function(i, idx) { return i.rate }),
      };

      Plotly.newPlot(plotElementId, [trace1, trace2 ], layout);
      Plotly.newPlot(plotElementId2, [trace3, trace4, trace5], layout);

      submitBtn.html("Refresh");
      submitBtn.prop("disabled", false);
    })
    .fail(function(err) {
      submitBtn.html("Refresh");
      submitBtn.prop("disabled", false);
    });

  });

  // autoload the plot.. 
  $(document).ready(function() {
    form.submit();
  })
</script>
{% endblock %}
