{% extends "base.html" %}

{% block title %}K-Realtime Monthly View{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <form class="form-inline" id="form-monthly">
      <div class="form-group">
        <label class="sr-only" for="form-monthly-site">Site</label>
        <select class="form-control" id="form-monthly-site" name="site">
          <option value="np">North Point</option>
          <option selected value="insead">Insead</option>
        </select>
      </div>
      <div class="form-group">
        <label class="sr-only" for="form-monthly-start"></label>
        <input type="text" class="form-control datepicker" id="form-monthly-start" name="start" placeholder="Start 2017-12">
      </div>
      <button type="submit" class="btn btn-primary" id="form-monthly-submit">Refresh</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6"><div id="table-monthly"></div></div>
  <div class="col-md-6"><div id="plot-monthly-effsys"></div></div>
  <div class="col-md-6"><div id="plot-monthly-loadsys"></div></div>
  <div class="col-md-6"><div id="plot-monthly-hbsys"></div></div>
  <div class="col-md-6"><div id="plot-monthly-chwshdr"></div></div>
  <div class="col-md-6"><div id="plot-monthly-chwsfhdr"></div></div>
  <div class="col-md-6"><div id="plot-monthly-cwshdr"></div></div>
  <div class="col-md-6"><div id="plot-monthly-cwsfhdr"></div></div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  $(".datepicker").datepicker({
      format: "yyyy-mm",
      autoclose: true,
      viewMode: "months",
      minViewMode: "months",
  });

  var form = $("#form-monthly");

  // update form values on loading..
  var today = new Date();
  form.find("input[name=start]").datepicker("update", today);

  form.submit(function(event) {
    event.preventDefault();
    var submitBtn = form.find("button[type=submit]");
    submitBtn.html("Loading");
    submitBtn.prop("disabled", true);

    var site = form.find("select[name=site]").val();
    var inputDate = new Date(form.find("input[name=start]").val());

    // start < timestamp(data) <= end
    var start = inputDate.addDays(-1); // the last day of previous month
    var end = inputDate.addMonths(1).addDays(-1); // the last day of selected month

    // fields to query
    var fields = ["effsys", "loadsys", "hbsys", "chwshdr", "chwsfhdr", "cwshdr", "cwsfhdr"];

    var q1 = {
      start: start.toISOString().substring(0, 10),
      end: end.toISOString().substring(0, 10),
      freq: "days",
      func: "avg",
      fields: fields.join(","),
    };

    var q2 = {
      start: start.toISOString().substring(0, 10),
      end: end.toISOString().substring(0, 10),
      freq: "months",
      func: "avg",
      fields: fields.join(","),
    };

    var q3 = {
      start: start.toISOString().substring(0, 10),
      end: end.toISOString().substring(0, 10),
      freq: "months",
      func: "max",
      fields: fields.join(","),
    };


    var req1 = $.get("/api/v1/logs/" + site, q1);
    var req2 = $.get("/api/v1/logs/" + site, q2);
    var req3 = $.get("/api/v1/logs/" + site, q3);

    $.when(req1, req2, req3)
    .done(function(arr1, arr2, arr3) {
      var timeseries = arr1[0].results;
      var avgAggregates = arr2[0].results;
      var sumAggregates = arr3[0].results;

      // plot the table..
      var tableContainer = $("#table-monthly");
      var table = $("<table>").addClass("table table-striped");

      if (avgAggregates && avgAggregates.length > 0) {
        tableContainer.html("");
        tableContainer
          .append( $("<h2>").text("Summary") )
          .append(table);

        Object.keys(avgAggregates[0]).forEach(function(k) {
          if (k.startsWith("_")) return; // ignore showing this field.
          var tr = $("<tr>");

          tr.append( $("<th>").text("Avg " + k.toUpperCase()) );
          tr.append( $("<td>").text(avgAggregates[0][k]) );

          tr.append( $("<th>").text("Max " + k.toUpperCase()) );
          tr.append( $("<td>").text(sumAggregates[0][k]) );

          table.append(tr);
        });
      }

      // plot the charts..
      if (timeseries && timeseries.length > 0) {
        for (f in fields) {
          var field = fields[f];
          var xlabel = "Time";
          var ylabel = field.toUpperCase();
          var plotElementId = "plot-monthly-" + field;
          plotNewTimeSeries(
            field, //title
            xlabel, ylabel, timeseries, field, plotElementId);
        }
      }

      submitBtn.html("Refresh");
      submitBtn.prop("disabled", false);

    })
    .fail(function(err) {
      console.log(err);
      submitBtn.html("Refresh");
      submitBtn.prop("disabled", false);
    })

  })

  $(document).ready(function() {
    form.submit();
  })
</script>
{% endblock %}